include core/head.pug
body

  div(
  class="blog-post"
  data-attribute="untilLoad"
  )
    img(
    class="blog-image"
    src="images/test.jpg"
    )
    h2.blog-title
    p.blog-text
    div.blog-date
  include core/scripts.pug
